body {
    font-family: sans-serif;
    background-color: darkgray;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: dark;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    cursor: pointer;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .game-info ol {
    padding-left: 30px;
  }